@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&family=Red+Hat+Text:wght@700&display=swap");

:root {
  /* ### Primary */

  --Linear-gradient1: hsl(249, 99%, 64%); /*(active input border)*/
  --Linear-gradient2: hsl(278, 94%, 30%);
  --Red: hsl(0, 100%, 66%); /*(input errors)*/

  /* ### Neutral */

  --White: hsl(0, 0%, 100%);
  --Light-grayish-violet: hsl(270, 3%, 87%);
  --Dark-grayish-violet: hsl(279, 6%, 55%);
  --Very-dark-violet: hsl(278, 68%, 11%);
}

body {
  display: flex;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
  font-family: "League Spartan", "Red Hat Text", sans-serif;
}

.backgroung-image {
  background-image: url(../../interactive-card-details-form-main/images/bg-main-desktop.png);
  background-repeat: no-repeat;
  height: 100vh;
  width: 32vw;
}

/* front-card */

.front-card {
  padding: 50px 0 0 115px;
}

.card-logo img {
  height: 6%;
  position: absolute;
  margin-top: 17px;
  left: 130px;
}

.main-card img {
  height: 208px;
}

/* front-card end */

/* back-card  =====================*/
.back-card {
  padding: 24px 0 0 203px;
}

.main-back img {
  height: 208px;
}

/* back-card-END */

.input-box {
  margin-left: 50px;
}

/* form styles */
.main-form {
  padding: 163px 0 0 306px;
}

.main-form form .input-box span {
  display: block;
  /* color: #999; */
  padding-bottom: 5px;
}

.main-form form .input-box input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: #444;
}

.main-form form .submit-btn {
  width: 100%;
  background: linear-gradient(45deg, blueviolet, deeppink);
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s linear;
}

.main-form form .submit-btn:hover {
  letter-spacing: 2px;
  opacity: 0.8;
}

/* form styles END */
